body {
  background-color: rgb(60, 76, 90);
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: antiquewhite;
  font-size: 60px;
  margin: 20px 0;
}

h2 {
  font-family: "Apercu", sans-serif;
  text-align: left;
  color: antiquewhite;
  font-size: 30px;
}

h3 {
  font-family: "Apercu", sans-serif;
  text-align: center;
  color: antiquewhite;
  font-size: 30px;
}

h4 {
  font-family: "Apercu", sans-serif;
  text-align: center;
  color: antiquewhite;
  font-size: 20px;
}

.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../images/portlandheadlight.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  height: 600px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  margin: 0;
}

.intro-paragraph,
.about-paragraph,
.project-paragraph {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  color: bisque;
  text-align: center;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.project-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  color: bisque;
  text-align: center;
  line-height: 1.6;
  max-width: 600px;
}

.like-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  display: inline-block;
  color: bisque;
  text-align: left;
  line-height: 1.6;
  max-width: 600px;
}

.intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  flex-wrap: wrap;
}

.maine-photo {
  width: 250px;
  height: auto;
  border: 1px solid #faf9e1;
  border-radius: 4px;
  padding: 5px;
  display: block;
}

.pottery-photo {
  width: 250px;
  height: auto;
  border: 1px solid #faf9e1;
  border-radius: 4px;
  padding: 5px;
  display: block;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  flex-wrap: wrap;
}

.intro-text,
.aboutme {
  flex: 1;
  min-width: 300px;
}

.intro-image,
.pottery-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: antiquewhite;
}
